.btn-primary-themed, .btn-primary-themed:focus, .btn-primary-themed:active {
  color: #fff;
  background-color: #51b5b1;
  border-color: #51b5b1;
  border-radius: 25px !important;
  box-shadow: none;
}

.btn-primary-themed:hover, .btn-secondary-themed {
  color: #51b5b1;
  border-color: #51b5b1;
  background-color: #edf7f7;
  border-radius: 25px !important;
}

.fadeout {
  animation: fadeOut 2s;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}